workflows/01-prvsmsbot-send-sms.json
{
  "name": "PRVSMSBOT - Send SMS",
  "nodes": [
    {
      "parameters": {
        "path": "prvsmsbot/send-sms",
        "httpMethod": "POST",
        "responseMode": "responseNode"
      },
      "id": "w1-webhook",
      "name": "Send SMS Webhook",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [220, 320],
      "webhookId": "prvsmsbot-send-sms"
    },
    {
      "parameters": {
        "jsCode": "const headers = $json.headers || {};\nconst body = $json.body || $json;\nconst provided = String(headers['x-prv-bot-token'] || headers['X-Prv-Bot-Token'] || '').trim();\nconst expected = String($env.PRV_BOT_TOKEN || '').trim();\nif (!expected) {\n  return [{ json: { ok: false, status_code: 500, error: 'missing PRV_BOT_TOKEN in n8n env' } }];\n}\nif (provided !== expected) {\n  return [{ json: { ok: false, status_code: 401, error: 'unauthorized' } }];\n}\nconst to = String(body.to || '').trim();\nconst message = String(body.message || '').trim();\nif (!to || !message) {\n  return [{ json: { ok: false, status_code: 400, error: 'requires to and message' } }];\n}\nreturn [{ json: { ok: true, to, message } }];"
      },
      "id": "w1-validate",
      "name": "Validate Request",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [470, 320]
    },
    {
      "parameters": {
        "conditions": {
          "combinator": "and",
          "conditions": [
            {
              "id": "w1-cond-valid",
              "leftValue": "={{String($json[\"ok\"])}}",
              "rightValue": "true",
              "operator": {
                "type": "string",
                "operation": "equals"
              }
            }
          ]
        }
      },
      "id": "w1-if-valid",
      "name": "Request Valid?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [700, 320]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{($env.SMSGATE_BASE_URL || 'http://smsgate:5000') + '/sms/send'}}",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "X-Admin-Key",
              "value": "={{$env.SMSGATE_ADMIN_KEY}}"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\"to\": $json.to, \"message\": $json.message, \"delivery_report\": true, \"wait_send_status\": true}",
        "options": {
          "timeout": 20000
        }
      },
      "id": "w1-send",
      "name": "Send via SMSGate",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [940, 220]
    },
    {
      "parameters": {
        "jsCode": "const r = $json || {};\nreturn [{ json: {\n  ok: Boolean(r.ok),\n  state: String(r.state || 'unknown'),\n  reason: String(r.reason || ''),\n  to: r.to || [],\n  result: r.result || null,\n  send_status: r.send_status || null\n} }];"
      },
      "id": "w1-format",
      "name": "Format Send Result",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [1180, 220]
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{$json}}",
        "options": {
          "responseCode": 200
        }
      },
      "id": "w1-respond-ok",
      "name": "Respond OK",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.2,
      "position": [1410, 220]
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{$json}}",
        "options": {
          "responseCode": "={{$json.status_code || 400}}"
        }
      },
      "id": "w1-respond-err",
      "name": "Respond Error",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.2,
      "position": [940, 420]
    }
  ],
  "connections": {
    "Send SMS Webhook": {
      "main": [
        [
          {
            "node": "Validate Request",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Validate Request": {
      "main": [
        [
          {
            "node": "Request Valid?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Request Valid?": {
      "main": [
        [
          {
            "node": "Send via SMSGate",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Respond Error",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Send via SMSGate": {
      "main": [
        [
          {
            "node": "Format Send Result",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Format Send Result": {
      "main": [
        [
          {
            "node": "Respond OK",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  }
}
