workflows/06-prvsmsbot-health.json
{
  "name": "PRVSMSBOT - Health",
  "nodes": [
    {
      "parameters": {
        "path": "prvsmsbot/health",
        "httpMethod": "POST",
        "responseMode": "responseNode"
      },
      "id": "w6-webhook",
      "name": "Health Webhook",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [220, 320],
      "webhookId": "prvsmsbot-health"
    },
    {
      "parameters": {
        "jsCode": "const headers = $json.headers || {};\nconst provided = String(headers['x-prv-bot-token'] || headers['X-Prv-Bot-Token'] || '').trim();\nconst expected = String($env.PRV_BOT_TOKEN || '').trim();\nif (!expected) {\n  return [{ json: { ok: false, status_code: 500, error: 'missing PRV_BOT_TOKEN in n8n env' } }];\n}\nif (provided !== expected) {\n  return [{ json: { ok: false, status_code: 401, error: 'unauthorized' } }];\n}\nreturn [{ json: { ok: true } }];"
      },
      "id": "w6-validate",
      "name": "Validate Request",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [470, 320]
    },
    {
      "parameters": {
        "conditions": {
          "combinator": "and",
          "conditions": [
            {
              "id": "w6-cond-valid",
              "leftValue": "={{String($json[\"ok\"])}}",
              "rightValue": "true",
              "operator": {
                "type": "string",
                "operation": "equals"
              }
            }
          ]
        }
      },
      "id": "w6-if-valid",
      "name": "Request Valid?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [700, 320]
    },
    {
      "parameters": {
        "method": "GET",
        "url": "={{($env.SMSGATE_BASE_URL || 'http://smsgate:5000') + '/health/modem'}}",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "X-Admin-Key",
              "value": "={{$env.SMSGATE_ADMIN_KEY}}"
            }
          ]
        },
        "options": {
          "timeout": 15000
        }
      },
      "id": "w6-health",
      "name": "Get Gateway Health",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [940, 220]
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{$json}}",
        "options": {
          "responseCode": 200
        }
      },
      "id": "w6-respond-ok",
      "name": "Respond OK",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.2,
      "position": [1180, 220]
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{$json}}",
        "options": {
          "responseCode": "={{$json.status_code || 400}}"
        }
      },
      "id": "w6-respond-err",
      "name": "Respond Error",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.2,
      "position": [940, 420]
    }
  ],
  "connections": {
    "Health Webhook": {
      "main": [
        [
          {
            "node": "Validate Request",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Validate Request": {
      "main": [
        [
          {
            "node": "Request Valid?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Request Valid?": {
      "main": [
        [
          {
            "node": "Get Gateway Health",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Respond Error",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get Gateway Health": {
      "main": [
        [
          {
            "node": "Respond OK",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  }
}
